/* 
 * Redefining Yeti stylesheet
 */

/* links */
a {
  color: #009ee0;
}
a:focus {
  color: #009ee0;
}

a:hover {
  color: #009ee0;
}

.textpreview { 
  font-size: 9pt;
  white-space: normal;
}

/* icon: external link light */
.extern {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDQzMzYzKSAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJWcnN0dmFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjEwcHgiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBvbHlnb24gZmlsbD0iI0Q0RkZGRiIgcG9pbnRzPSI3LjE5MSw2LjQgNS45OTEsNi40IDUuOTkxLDguOCAxLjIsOC44IDEuMiwzLjk5NiAzLjYsMy45OTYgMy42LDIuNzk2IDEuMiwyLjc5NiAxLjIsMi43OTQgDQoJCTAsMi43OTQgMCwyLjc5NiAwLDMuOTk2IDAsOC44IDAsMTAgMS4yLDEwIDUuOTkxLDEwIDcuMTkxLDEwIDcuMTkzLDEwIDcuMTkzLDguOCA3LjE5MSw4LjggCSIvPg0KCTxwb2x5Z29uIGZpbGw9IiNENEZGRkYiIHBvaW50cz0iNC42NjMsMCA0LjY2MywwLjAwNiA2LjYwOSwxLjk1MyAzLjk0NSw0LjYxOCA1LjM4Myw2LjA1NiA4LjA0OCwzLjM5MSA5Ljk5NCw1LjMzNyAxMCw1LjMzNyAxMCwwIAkNCgkJIi8+DQo8L2c+DQo8L3N2Zz4NCg==") center right no-repeat;
  padding: 1px 14px 0 0;
}

/* icon: external link dark */
.external {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDQzMzYzKSAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJWcnN0dmFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjEwcHgiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBvbHlnb24gZmlsbD0iIzAwODhDMSIgcG9pbnRzPSI3LjE5MSw2LjQgNS45OTEsNi40IDUuOTkxLDguOCAxLjIsOC44IDEuMiwzLjk5NiAzLjYsMy45OTYgMy42LDIuNzk2IDEuMiwyLjc5NiAxLjIsMi43OTQgDQoJCTAsMi43OTQgMCwyLjc5NiAwLDMuOTk2IDAsOC44IDAsMTAgMS4yLDEwIDUuOTkxLDEwIDcuMTkxLDEwIDcuMTkzLDEwIDcuMTkzLDguOCA3LjE5MSw4LjggCSIvPg0KCTxwb2x5Z29uIGZpbGw9IiMwMDg4QzEiIHBvaW50cz0iNC42NjMsMCA0LjY2MywwLjAwNiA2LjYwOSwxLjk1MyAzLjk0NSw0LjYxOCA1LjM4Myw2LjA1NyA4LjA0OCwzLjM5MSA5Ljk5NCw1LjMzNyAxMCw1LjMzNyAxMCwwIAkNCgkJIi8+DQo8L2c+DQo8L3N2Zz4NCg==") center right no-repeat;
  padding: 1px 13px 0 0;
}

.example-text {
  font-size: 14px;
}

/* navigation */
/*.nav-pills > li.active > a:focus {
  background-color: #009ee0;
}

.nav-pills > li.active > a:hover {
  background-color: #009ee0;
}

.nav-pills > li.active > a {
  background-color: #009ee0;
}*/

/* sliders */
.irs .irs-bar {
  border-top: 1px solid #0088c1;
  border-bottom: 1px solid #0088c1;
  background: #0088c1;
}

.irs .irs-bar-edge {
  border: 1px solid #0088c1;
  background: #0088c1;
}

.irs .irs-single {
  background: #0088c1;
}

/* color boxes */
.alert-warning {
  background-color: #ea670c; /*orange*/
  border-color: #ff6e0a;
  font-size: 14px;
}

.alert-info a {
  color: #ffffff;
}  

.alert-info {
  background-color: #009ee0; /*blue*/
  border-color: #0088c1;
  font-size: 14px;
}

#ex {
  background-color: #ffffff; 
  border-color: #009ee0;
  color: black;
  font-size: 15px;
}

.alert-success {
  background-color: #57aB27; /*green*/
  border-color: #4B9123;
  font-size: 14px
}

/*SaRe*/
.has-error .form-control {
  border-color: #e2007a; /*magenta*/
}

.label-danger {
  background-color: #e2007a; /*magenta*/
}

.label-info {
  background-color: #009ee0; /*blue*/
}

.has-success .form-control {
  border-color: #57aB27; /*green*/  
}

.label-success {
  background-color: #57aB27; /*green*/  
}

.zTTRvalue {
  margin-bottom: 2em;
}

/*bookmark button*/
#\._bookmark_ {
  margin-top: 4em;
}

/* signal zoom possibilities with mouse cursor */
.zoomable {
  cursor: zoom-in;
}

.zoomable.zoomed {
  cursor: zoom-out;
}
